/* Estilo general del contenedor de la página Home */
.home {
  background-color: #2E1A38; /* Violeta oscuro para el fondo */
  color: #ffffff; /* Texto en blanco */
  display: flex;
  flex-direction: column;
  align-items: center; /* Para centrar los elementos en la pantalla */
  padding: 20px;
}

/* Estilo para el título "Twitter 2" */
.Twitter {
  color: #1DA1F2; /* Azul de Twitter para el título */
}

/* Estilo para el título de modo administrador */
.administrador {
  color: #FF6347; /* Rojo coral para el título */
}

/* Estilo para la barra de navegación */
.nav-menu {
  background-color: #2E1A38; /* Violeta oscuro para el fondo */
  padding: 10px;
}

/* Estilo para los elementos de la barra de navegación */
.nav-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-menu li {
  margin: 0 20px;
}

.nav-menu a {
  text-decoration: none;
  color: #1DA1F2; /* Azul de Twitter para los enlaces de navegación */
  font-weight: bold;
}

.nav-menu a:hover {
  color: #ffffff; /* Texto en blanco cuando se pasa el ratón sobre los enlaces */
}

/* Estilo para los contenedores de los elementos de lista (los post) */
.container {
  background-color: #404040; /* Gris oscuro para los contenedores */
  color: #ffffff; /* Texto en blanco */
  border: 1px solid #666; /* Borde gris */
  padding: 15px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  text-align: center; /* Centra el contenido del post */
}

/* Estilo para el botón "Comentar" en la lista de publicaciones */
.container a {
  color: #000; /* Texto en negro para el enlace "Comentar" */
}

/* Estilo para los enlaces en la lista de publicaciones cuando se pasa el ratón */
.container a:hover {
  text-decoration: underline;
}
